body {
    font-family: 'IBM Plex Mono', monospace;
}

.initial-opacity {
    opacity: 0.7;
}

.color-swatch {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

/* #defaultCanvas0 {
    width: 450px !important;
    height: 450px !important;
} */